a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  height: 50px;
  background-color: #232323;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 90vw;
  height: 100vh;
  background-color: #232323;
  color: white;
  box-shadow: 0px 0px 5px 1px black;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.navmenuButton {
  padding: 15px;
  transition: padding 0.3s;
}

.slideIn {
  animation: slideIn 0.5s forwards;
}

.slideOut {
  animation: slideOut 0.5s forwards;
}

.navmenuClose {
  text-align: center;
  background-color: #303030;
  padding: 10px !important;
}

.navmenuClose:hover {
  background-color: #292929;
  cursor: pointer;
}

.navmenu svg {
  color: #666;
}

.navmenuSelected,
.navmenuButton:hover {
  background-color: #202020;
  padding-left: 30px;
  transition: padding-left 0.3s;
  cursor: pointer;
}

.formHeader {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

.userSection {
  display: flex;
  align-items: center;
  padding: 15px;
}

.userSection img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-color: white;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 50px);
  animation: fadeIn 0.5s;
  padding: 20px;
}

.restaurantBox {
  height: 125px;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 10px;
  padding: 20px;
  border: 1px solid #232323;
  margin-bottom: 10px;
  border-radius: 3px;
}

.restaurantBox:hover {
  background-color: #232323;
  transition: all 0.3s;
  color: white;
}

.restaurantBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .error {
  color: red;
}

.form .success {
  color: green;
}

.form .status {
  padding: 5px;
  text-align: center;
}

.form input,
.form textarea {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #232323;
  margin-bottom: 10px;
  resize: none;
}

.form input[type="submit"], .form input[type="button"] {
  background-color: blue;
  color: white;
  border: none;
  font-weight: bold;
  transition: all 0.3s;
}

.form input[type="submit"]:hover ,.form input[type="button"]:hover {
  background-color: darkblue;
  transition: all 0.3s;
  cursor: pointer;
}

.form .danger {
	background-color: red !important;
}

.form .danger:hover {
	background-color: darkred !important;
}

.database {
  display: flex;
  flex-direction: column;
}

.database > a {
  flex: 1;
  border: 1px solid #232323;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.database .title > svg {
  margin-right: 10px;
}

.database > a:hover {
  background-color: #232323;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}

@media only screen and (min-width: 800px) {
  .navmenu {
    position: static;
    width: 325px;
    float: left;
    display: flex !important;
    font-size: 0.9em;
  }
  .navmenuClose {
    display: none;
  }
  .navbar svg {
    display: none;
  }
  .navbar {
    background-color: #202020;
    padding: 15px;
  }
  .container {
    width: calc(100% - 325px);
    float: right;
  }
  .form input[type="button"], .form input[type="submit"] {
	  width: 30%;
	  align-self: flex-end;
  }
  .content {
    padding: 30px;
  }
  .restaurantBox {
    grid-template-columns: 20% 1fr;
    height: 150px;
  }
}

@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes slideOut {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
